.additional-content{
    @include boxsize();

    .additional-content-inner{
        background-color: $theme-dark-bg-color;
        padding: $standard-padding;

        a{
            @include color_transition();
        }

        a:hover{
            color: $theme-logo-brown;
        }
    }

}