.cases-section{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: $theme-white;

    .case-item{
        margin-bottom: $standard-padding;

        h2{
            min-height: 65px;
            font-size: $h2Size;
        }

        .case-item-inner{
            @include boxsize();
            padding: $standard-padding;
            background-color: $theme-light-bg-color;
        }

        .case-item-img{
            width: 100%;
            height: 200px;
            display: block;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;

        }

        p{
            display: block;
            margin-bottom: $standard-padding;
        }

        .case-item-link{
            display: block;
            float:left;
            width: 100%;
            text-align: center;
            margin-top: $standard-padding;
            margin-bottom: $standard-padding;
        }
    }

}