.navbar{

    padding-right: 0!important;
}

.navigation{
    left: 0;
    background-color: $theme-light-bg-color;
    justify-content: flex-end;
    text-align: right;
    height: $header-height;
    margin-top: $top-navigation-height;
    position: fixed;
    width: 100vw;
    z-index: 99;

    @include respond-below(md) {
        height: auto;
    }

    .container{
        justify-content: flex-end;

    }

    .navbar-toggler{
        justify-content: flex-end;
        padding: 0;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 0.25em;
            width: 1em;
            height: 0.15em;
            background: $theme-dark-blue;
            box-shadow:
                0 0.4em 0 0 $theme-dark-blue,
                0 0.8em 0 0 $theme-dark-blue;
        }
    }

    .navbar-collapse{
        justify-content: flex-end;
    }

    ul{
        height: $header-height;
        text-align: right;
        float: right;
        width: auto;
        li{
            line-height: $header-height;
            position: relative;
            &.current-menu-item{
                border-bottom: $standard-border-width solid $theme-dark-blue;


                a{
                    margin-bottom: -4px;
                }
            }

            @include respond-below(md) {
                padding-top: 20px;
                height: auto!important;
                line-height: 25px!important;
            }

        }

        @include respond-below(md) {
            height: auto;
        }

    }

    ul li{
        height: $header-height;
    }

    ul li a{
        color: $theme-font-color;
        padding-top: 0;
        padding-bottom: 0;
        &:hover{
            color: $theme-logo-brown;
        }


    }
}