.news-section{

    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: $theme-light-bg-color;

    h2{
        font-size: $h1Size;
        font-family: $theme-font-heading;
    }

    .news-item.news-item-first{
        border-right: $standard-border-width solid $theme-font-color;
        h3{
            padding-top: $standard-padding;
        }

        @include respond-below(md) {
            border-right: none;

            padding-bottom: $standard-padding+$standard-padding;
        }
    }

    .post-item-title{
        display: block;
        font-size: 1.2em;
    }

    .post-item-excerpt{
        display: block;
        margin-bottom: $standard-padding;
    }

    .post-item-link{
        margin-top: $standard-padding;
        margin-bottom: $standard-padding;

    }

    .news-item-list{
        padding-top: $standard-padding;
        padding-bottom: $standard-padding;

        li{
            &:last-child{
                h3{
                    margin-bottom: 0;
                }
            }
        }
    }

    .news-item-list.news-item a{
        color: $theme-font-color;
        &:hover{
            color: $theme-logo-brown;
        }
    }

    .news-item{
        h3{
            font-family: $theme-font-text;
            font-size: $h3Size;
            margin-bottom: 1em;
            line-height: 1.1em;
        }
    }

}