.news-section{

    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: $theme-light-bg-color;

    .news-item.news-item-first{
        border-right: $standard-border-width solid $theme-font-color;
        h2{
            padding-top: $standard-padding;
        }

        @include respond-below(md) {
            border-right: none;

            padding-bottom: $standard-padding+$standard-padding;
        }
    }

    .post-item-title{
        display: block;
        font-size: 1.2em;
    }

    .post-item-excerpt{
        display: block;
        margin-bottom: $standard-padding;
    }

    .post-item-link{
        margin-top: $standard-padding;
        margin-bottom: $standard-padding;

    }

    .news-item-list{
        padding-top: $standard-padding;
        padding-bottom: $standard-padding;

        li{
            &:last-child{
                h2{
                    margin-bottom: 0;
                }
            }
        }
    }

    .news-item-list.news-item a{
        color: $theme-font-color;

        h2{
        }

        &:hover{
            color: $theme-logo-brown;
        }
    }

}