aside.sidebar{
    padding: 0;


    .sidebar-list{
        padding-top: $standard-padding+$standard-padding;
        padding-bottom: $standard-padding;
        background-color: $theme-dark-bg-color;
        margin-right:15px;
        position: relative;
        height: 100%;

        &>li{
            padding: 10px 0;

            a{
                line-height: 1.1em;
                display: block;
                width: 100%;
                padding: 0 $standard-padding 10px;
                @include color_transition;
                color: $theme-dark-blue;

                &:hover{
                    color: $theme-logo-brown;
                }
            }


            &:first-child{
                padding-top: 0;
            }
        }
    }


    &.sidebar-news{

        li{
            padding: 10px 0;

            button{
                border: none;
                line-height: 1.1em;
                color: $theme-dark-blue;
                padding: 0 0 10px;
                text-align: left;
                width: 100%;
                background: none;
                @include color_transition();

                &:hover{
                    color: $theme-logo-brown;
                }

                &:first-child{
                    padding-top: 0;
                }
            }
        }

        li>.accordion-head{
            padding:0 $standard-padding;
        }
    }

    &.sidebar-news li ul{

        background-color: $theme-white;

        li{
            padding: 15px 0;
            a{
                @include color_transition();
                color: $theme-font-color;

                &:hover{
                    color: $theme-logo-brown;
                }

                &.active-list-item{
                    color: $theme-logo-orange;
                }
            }
        }
    }
}