.bx-wrapper, .bx-viewport, .fp-slider{
    min-width: 100%;
    width: 100%!important;
}

.fp-slider-section, .bx-viewport{
    height: $slider-height;
    @include respond-below(md) {
        height: $slider-height-mob;
    }
}

.fp-slider{
    z-index: 1;
    height: $slider-height;

    @include respond-below(md) {
        height: $slider-height-mob;
    }
    .fp-slide-item{
        min-width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
    }
}

.fp-slider-grad{
    margin-top: $header-height+$top-navitation-height;
    left:0;
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 140px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,7db9e8+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.fp-slide-content{
    position: relative;

    &:before{
        z-index: -1;
        content: '';
        display: block;
        position: absolute;
        background-image: url(../img/pattern.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
        width: 500px;
        opacity: 1;
        top: -50%;

        @include respond-below(md) {
            height: 200px;
            width: 200px;
        }
    }

    &.topleft, &.topright{
        margin-top: 25vh;
        &:before{
            @include rotate(-20deg);
        }
    }

    &.topright{
        &:before{
            @include rotate(320deg);
        }
    }


    &.bottomleft, &.bottomright{
        margin-top: 40vh;
        &:before{
            transform: rotate(85deg);
        }

        @include respond-below(md) {
            margin-top: 25vh;
        }
    }

    &.bottomright{
        &:before{
            transform: rotate(80deg);
        }
    }

    margin-top: 25vh;
    background-color: $theme-logo-orange;
    padding:$standard-padding;

    h1,p,a{
        display: block;
        float: left;
    }

    h1{
        font-family: $theme-font-heading;
        font-size: 3em;
        margin-bottom: $standard-padding;
        color: $theme-white;

        @include respond-below(md) {
            font-size: 1.3em;
        }
    }

    p{
        margin-bottom: $standard-padding;
        font-size: 1.1em;
        color: $theme-white;

        @include respond-below(md) {
            font-size: 0.9em;
        }
    }

    a{
        font-size: 1.1em;

        @include respond-below(md) {
            font-size: 0.9em;
        }
    }
}