.testimonial-section{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: $theme-logo-brown-lighter;

    .testimonial{
        border-right: $standard-border-width solid $theme-font-color;
        @include respond-below(lg) {
            border-right: 0px;
        }

        blockquote {
            color: $theme-font-color;
            font-size: 2em;
            @include boxsize();
            text-align: right;
            @include respond-below(lg) {
                text-align: left;
                font-size: 1.3em;
            }


            i{
                padding-right: $standard-padding;
            }

        }

    }

    .presentation{
        text-align: center;
        font-size: 4em;
        position: relative;

        i{
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translateY(-50%) translateX(-50%);
            -moz-transform: translateY(-50%) translateX(-50%);
            -ms-transform: translateY(-50%) translateX(-50%);
            -o-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
            display: block;
            margin: 0 auto;
            @include color_transition();

            @include respond-below(lg) {
                margin-top: $standard-padding;
                position: relative;
            }

            &:hover{
                color: $theme-logo-orange;
            }
        }
    }

}