$top-navitation-height: 50px;
$header-height: 82px;
$quick-link-height: 100px;
$quick-link-icon-size: 140px;
$quick-link-icon-size-half: 70px;
$standard-padding: 24px;


//Fonts
$theme-font-heading: 'Source Serif Pro', sans-serif;
$theme-font-text: 'Source Sans Pro', sans-serif;


//Colors
$theme-white: #ffffff;
$theme-font-color: #333333;
$theme-dark-blue: #133F50;
$theme-light-bg-color: #F0F0EB;

$theme-logo-brown: #B3B995;
$theme-logo-brown-lighter: #CED1AF;

$theme-logo-orange: #ED8B00;
$theme-logo-orange-lighter: #F59644;


//Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
