$top-navigation-height: 50px;
$header-height: 82px;
$slider-height: 100vh;
$slider-height-mob: 100vh;

$footer-height: 300px;
$quick-link-height: 100px;
$quick-link-icon-size: 140px;
$quick-link-icon-size-half: 70px;
$section-padding: 70px;
$standard-padding: 24px;
$standard-border-width: 4px;
$footer-padding: 48px;


//Fonts
$theme-font-heading: 'Source Serif Pro', serif;
$theme-font-text: 'Source Sans Pro', sans-serif;

$theme-font-text-semi-bold: 'Source Sans Pro SemiBold', sans-serif;
$theme-font-text-bold: 'Source Sans Pro Bold', sans-serif;
$theme-font-text-em: 'Source Sans Pro Italic', sans-serif;
$theme-font-text-strong-em: 'Source Sans Pro Bold Italic';

//Typography
$h1Size: 2.2em;
$h2Size: 1.6em;
$h3Size: 1.4em;
$h4Size: 1.2em;
$h5Size: 1.1em;
$h6Size: 1em;
$pSize: 12pt;
$smallSize: 8pt;


//Colors
$theme-white: #ffffff;
$theme-font-color: #333333;
$theme-dark-blue: #133F50;
$theme-light-bg-color: #F0F0EB;
$theme-dark-bg-color: #DADACD;

$theme-logo-brown: #B3B995;
$theme-logo-brown-lighter: #CFCFA6;


$theme-logo-orange: #EE800C;
$theme-logo-orange-lighter: #F59644;

//Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
