
//Fonts
$theme-font-heading: 'Source Serif Pro', sans-serif;
$theme-font-text: 'Source Sans Pro', sans-serif;


//Colors
$theme-font-color: #333333;
$theme-dark-blue: #133F50;
$theme-light-bg-color: #F0F0EB;

$theme-logo-brown: #B3B995;
$theme-logo-orange: #ED8B00;